@import "customFieldsPopUp.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body.app {
    padding: 32px 32px;
    background-color: var(--ring-content-background-color);
    color: var(--ring-text-color);
    font-size: var(--ring-font-size);
    height: 100%;
}

.no-padding {
    padding-left: 0 !important;
}

.disable-float h2 {
    float: none;
}

.forceCenter {
    align-items: center !important;
}

.add-popup {
    /*position: absolute;*/
    top: 40% !important;
    left: calc(50% - 300px) !important;
    width: 600px !important;
}

.forceWidthAuto {
    width: auto !important;
}

.forceTextareaHeight {
    height: 64px !important;
}

.forceMargin {
    margin-right: 8px !important
}
.yt-text{
    font-size: var(--ring-font-size);
    font-family: var(--ring-font-family);
    color: var(--ring-text-color);
}
.pop-width{
    width: 100px !important;
}
