@tailwind base;
@tailwind components;
@tailwind utilities;

body.app {
    padding: 32px 32px;
    background-color: var(--ring-content-background-color);
    color: var(--ring-text-color);
    font-size: var(--ring-font-size);
}
