@import "tailwindcss";
@import "./components/modal/customFieldsPopUp.css";


body.app {
    padding: 32px 32px;
    background-color: var(--ring-content-background-color);
    color: var(--ring-text-color);
    font-size: var(--ring-font-size);
    height: 100%;
}

.no-padding {
    padding-left: 0 !important;
}

.disable-float h2 {
    float: none;
}

.forceCenter {
    align-items: center !important;
}

.add-popup {
    /*position: absolute;*/
    top: 12rem !important;
    left: calc(50% - 300px) !important;
    width: 600px !important;
}

.forceWidthAuto {
    width: auto !important;
}

.forceTextareaHeight {
    height: 64px !important;
}

.forceMargin {
    margin-right: 8px !important
}
.yt-text{
    font-size: var(--ring-font-size);
    font-family: var(--ring-font-family);
    color: var(--ring-text-color);
}
.pop-width{
    width: 100px !important;
}

.yt-issue-resolved {
    text-decoration: line-through;
}

.remove-input-focus input:focus {
    outline: none !important;
}
.search-border{
    border: 1px solid var(--ring-borders-color);
    border-radius: var(--ring-border-radius);
}
.hoverIcon {
    color: var(--ring-icon-color) !important;
}

.hoverIcon:hover {
    color: #d671b3 !important;
}
